{% load static %}
{% load bootstrap_icons %}

{% comment %}
PREP См. комментарий к two_columns.html.

Ипользование:

{% include 'objs/cart_item.html' %}

{% endcomment %}

<div style="grid-template-columns: 1fr 3fr 1fr;" class="d-grid mb-3 mt-3 {% if not user.is_superuser %}pb-3{% endif %} gap-3 position-relative attention-border">
    <div class="p-2 ms-3 mt-3 attention-border d-flex justify-content-center align-items-center">
        <img src="{{ obj.product.photo.url }}" class="article-img" alt="img">
    </div>
    <div class="p-2 mt-3 attention-border">
        <p class="fw-bold">{{ obj.product }}</p>
        <p class="fw-bold">Размер: {{ obj.size }}</p>
    </div>
    <div class="p-2 me-3 mt-3 attention-border position-relative text-center">
        <p>Количество: {{ obj.amount }}</p>
        <p>Цена: {{ obj.price }} руб.</p>

        {% if user.is_superuser %}
            {% comment %}<a class="btn del-button position-absolute z-3" href="{{ obj.get_delete_url }}">{% bs_icon 'trash' %}</a>{% endcomment %}
        {% endif %}
    </div>
    {% if user.is_superuser %}
        <a href="{# PREP {{ obj.get_update_url }} #}" class="stretched-link"></a>
    {% endif %}
</div>
