{% extends 'general/base.html' %}
{% load static %}

{% block title %}
    Товар : {{ object.pk }}
{% endblock %}

{% block h %}
    Товар : {{ object.pk }}
{% endblock %}

{% block content %}
<a class="btn attention mb-3 ms-3" href="{% url 'home' %}">Назад</a>

{% include 'general/detail.html' %}
<div class="container">
        <div class="col-12 mt-3">
            <div class="card h-100">
                <div class="card-header bg-light">
                    <strong>Цена <span class="badge text-bg-danger {{ object.get_price.discount }}">Скидка</span></strong>
                </div>
                <div class="card-body">
                    {{ object.get_price.price }} руб.
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="card h-100">
                <div class="card-header bg-light">
                    <strong>Размерный ряд</strong>
                </div>
                <div class="card-body">
                    {% for size in object.sizeavailable_set.all %}
                        <p>{{ size }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="card h-100">
                <div class="card-header bg-light">
                    <strong>Доступные для заказа размеры</strong>
                </div>
                <div class="card-body">
                    {% for sizeenabled in object.get_size_enabled %}
                        <p>{{ sizeenabled.get_size_and_stock }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

<div class="container mt-5">
    {% url 'order-product-create' as action_url %}
    {% include 'general/form_with_confirmation.html' with action=action_url button_text="Добавить в заказ" %}

    {% endblock %}

    {% block script %}
    {% endblock %}
</div>

